.love {
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(45deg, red, rgb(255, 0, 43));
    /* transform: rotate(-45deg); */
    margin: 70px auto 50px auto;
    animation: mymove 2s infinite ease-in-out;
}

.love::before,
.love::after {
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: red;
    position: absolute;
}

.love::before {
    top: -75px;
    left: 0;
}

.love::after {
    top: 0;
    left: 75px;
}

body {
    max-height: 100vh;
    background-image: linear-gradient(to right, red, rgb(255, 116, 209));
    overflow: hidden;
}

.container {
    transform: rotate(-45deg)
}

@keyframes mymove {
    0% {
        transform: scale(1);
         }
    25% {
        transform: scale(1.1);
    }
}
h2{
    text-align: center;
    color: rgb(5, 5, 97);
    animation: fadeInAnimation 2s ease-in-out forwards infinite;
}
mark{
    background-color: rgb(255, 0, 191);
    color: rgb(7, 12, 95);
}
p{
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(2, 2, 107);
    animation: txt 2s infinite;
    animation: fadeInAnimation 2s ease-in-out forwards infinite;
}
.fade-in {
    animation: fadeInAnimation 2s ease-in-out forwards infinite;
    opacity: 0; /* Start with 0 opacity */
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* End with full opacity */
    }
  }
  